.react-inspect-menu {
  position: fixed;
  left: 20px;
  bottom: 80px;
  width: 40px;
  height: 40px;
  background-color: brown;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}